{% extends 'base/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}
{% block main_content %}

    <!-- Main Content -->
    <div class="hk-pg-wrapper pb-0 px-0">
        <!-- Container -->
        <div class="container-fluid">
            <!-- Row -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="fmapp-wrap fmapp-sidebar-toggle">
                        <div class="fm-box">
                            <div class="fmapp-main">
                                <header>
                                    <div class="fm-options-wrap">
                                    </div>
                                    <span class="">Documents Manager</span>
                                    <div class="fm-options-wrap">

                                    </div>
                                </header>
                                <div class="fm-body">
                                    <div class="nicescroll-bar">
                                        <div class="fmapp-view-wrap">
                                            <div class="fmapp-grid-view">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-4 col-6 text-center mb-30">
                                                        <img class="file-preview" src="{% static 'img/pdf.png' %}"
                                                             alt="fm-img"/>
                                                        <span class="file-name mt-10"><a href="{% url 'co_trust_protector_only_default_ebinder' %}">CO-TRUSTEE ONLY DEFAULT EBINDER</a> </span>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-4 col-6 text-center mb-30">
                                                        <img class="file-preview" src="{% static 'img/pdf.png' %}"
                                                             alt="fm-img"/>
                                                        <span class="file-name mt-10"><a href="{% url 'co_trustee_co_protector_default_ebinder' %}">CO-TRUSTEE CO-PROTECTOR DEFAULT EBINDER</a> </span>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-4 col-6 text-center mb-30">
                                                        <img class="file-preview" src="{% static 'img/pdf.png' %}"
                                                             alt="fm-img"/>
                                                        <span class="file-name mt-10"><a href="#">TRUSTEE PROTECTOR ONLY DEFAULT EBINDER</a> </span>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-4 col-6 text-center mb-30">
                                                        <img class="file-preview" src="{% static 'img/pdf.png' %}"
                                                             alt="fm-img"/>
                                                        <span class="file-name mt-10"><a href="#">CO-TRUST PROTECTOR ONLY DEFAULT EBINDER</a> </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->
    </div>
    <!-- /Main Content -->

{% endblock main_content %}